@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue.ttf");
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueBd.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueHv.ttf");
  font-weight: bolder;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueIt.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueLt.ttf");
  font-weight: lighter;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueMed.ttf");
  font-weight: 700;
}

body {
  font-family: "Helvetica Neue";
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Modal (background) */
.modal {
  display: block;
  border-radius: 10px;
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  padding-top: 5%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
  position: relative;
  border-radius: 10px;
  background-color: #F8F9FC;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 2px 16px;
  background-color: #003548;
  color: white;
  font-weight: bolder;
  font-size: 15px;
}

.modal-body {padding: 2px 16px;}

#editor-container .ql-container {
  height: 340px;
}

#alert {margin:14px;}

#row {
  margin: 18px;
}

#row:after {
  content: "";
  display: table;
  clear: both;
}

#editor-container {
  background-color: white;
  float: left;
  width: 60%;
  border-radius: 10px;
}

.ql-toolbar {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#editor {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#selection-editor {
  background-color: #F7F7F7;
  margin: 1em;
  border-radius: 10px;
}

#selection-container {
  background-color: #F8F9FC;
}

#selection-container .ql-container {
  height: 70px;
}

#column {
  float:left;
  width:40%;
}

@media screen and (max-width: 1000px) {
  #column {
    width: 100%;
  }
  #editor-container{
    width:100%;
  }
  #editor-container .ql-container {
    height: 100px;
  }
}

.modal-footer {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 2px 16px;
  background-color: #003548;
  color: white;
  height: 62px;
}

.text {
  padding-left: 1em;
  font-weight: bold;
  font-size: 15px;
}

#references {
  resize: none;
  margin: 14px;

  max-width: 100%;
  max-height: 100%;

  border-radius: 5px;
}

.choices {
  resize: none;
  margin: 14px;

  max-width: 100%;
  max-height: 50%;

  border-radius: 5px;

  box-sizing: border-box;
}

:root {
	 --base-color: rgba(255, 255, 255, 1);
	 --hover-color: rgba(38, 58, 92, 1);
}
 #wrapper {
	 height: 100%;
	 overflow: hidden;
	 display: flex;
	 flex-wrap: wrap;
	 float: right;
	 align-items: center;
}
 .horizontal {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 position: relative;
	 width: 90px;
	 height: 35px;
	 margin: 5px;
	 border: 4px solid var(--base-color);
   border-radius: 5px;
	 font-size: 1.5rem;
   font-weight: bold;
	 cursor: pointer;
}

 .horizontal > .export-text {
	 position: relative;
	 color: transparent;
	 background-image: linear-gradient(90deg, var(--hover-color) 0%, var(--hover-color) 50%, var(--base-color) 50%, var(--base-color) 100%);
	 background-repeat: repeat;
	 background-size: 200%;
	 background-position: 100% 0;
	 -webkit-background-clip: text;
	 background-clip: text;
	 transition: background-position 300ms;
}
 .horizontal::before {
	 content: '';
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background: var(--base-color);
	 transform-origin: 100% 0;
	 transform: scale3d(0, 1, 1);
	 transition: transform 300ms;
}
 .horizontal:hover .export-text {
	 background-position: 0 0;
}
 .horizontal:hover::before {
	 transform-origin: 0 0;
	 transform: scale3d(1, 1, 1);
}
