<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Annota</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='img/favicon_package/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon_package/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon_package/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='img/favicon_package/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='img/favicon_package/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <!-- Theme-color can be adapted for changing based on chrome theme... for a later day-->
    <meta name="theme-color" content="#ffffff">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a accesskey="m" class="nav-link active" href="#" data-toggle="tooltip" data-placement="bottom" title="Mapview"><img alt="Clickable icon with connections and node for Mapview functionality" class="icon" src="static/img/mapview.png"></a></li>
                    <li class="nav-item"><a accesskey="t" class="nav-link" href="/timeline" data-toggle="tooltip" data-placement="bottom" title="Timeline"><img alt="Clickable icon with a vertical line and information boxes for Timeline functionality" class="icon" src="static/img/timeline.png"></a></li>
                    <li class="nav-item"><a accesskey="h" class="nav-link" href="/home" data-toggle="tooltip" data-placement="bottom" title="Home"><img alt="Home button" class="icon" src="static/img/home.png"></a></li>
                    <li class="nav-item"><a accesskey="s" class="nav-link" href="/settings" data-toggle="tooltip" data-placement="bottom" title="Settings"><img alt="Clickable icon in the shape of a gear for application settings" class="icon" src="static/img/settings.png"></a></li>
                    <li class="nav-item"><a accesskey="d" class="nav-link" href="#" data-toggle="tooltip" data-placement="bottom" title="Doze"><img alt="Clickable icon with moon and stars for dozing Annota" class="icon" src="static/img/doze.png"></a></li>
                </ul>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div id="select-source" class="dropdown m-1" alt="Select source document dropdown">
                    <button accesskey="r" class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Select Project
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Thesis</a>
                      <a class="dropdown-item" href="#">Summer 2022 Europe Trip</a>
                      <a class="dropdown-item" href="#">Spotify Redesign Case Study</a>
                    </div>
                </div>
                <div class="container-fluid">
                    <h1 id="mapview">Mapview</h1>
                    <!--<img alt="Substitute image for mapview functionality" style="width: 75vw; margin-top:5rem;" src="static/img/mapview-area.png">-->
                    <div id="cy" style="width:100%; height:90vh; background-color: #0D1721;">
                        <!-- cytoscape visualization -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-4.3.1-dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

    <!-- script for cytoscape -->
    <script src="{{ url_for('static', filename='js/cytoscape.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cola.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cytoscape-cola.js') }}"></script>

    <script>
        var cy = cytoscape({
        container: document.getElementById('cy'),
        elements: [
            // nodes
            { data: { id: 'CBC Article', type:"web" }},
            { data: { id: 'Bill C-81', type:"web" } },
            { data: { id: 'Thesis Doc', type:"docx" } },
            { data: { id: 'Draft1', type:"pdf" } },
            { data: { id: 'Canadian Charter', type:"web" } },
            { data: { id: 'Telecommunications Act', type:"pdf" } },
            { data: { id: 'Canada Transportations Act', type:"pdf" } },
            { data: { id: 'References', type:"docx" } },
            // edges
            {
                data: {
                id: 'ab',
                source: 'CBC Article',
                target: 'Bill C-81'
                }
            },
            {
                data: {
                id: 'cb',
                source: 'Thesis Doc',
                target: 'Bill C-81'
                }
            },
            {
                data: {
                id: 'cd',
                source: 'Thesis Doc',
                target: 'Draft1'
                }
            },
            {
                data: {
                id: 'ce',
                source: 'Thesis Doc',
                target: 'References'
                }
            },
            {
                data: {
                id: 'be',
                source: 'Bill C-81',
                target: 'Telecommunications Act'
                }
            },
            {
                data: {
                    id: 'bg',
                    source: 'Bill C-81',
                    target: 'Canadian Charter'
                }
            }
        ],

        layout: [
        {
            name: 'circle',
        }],

        style: [
        {
            selector: 'node',
            style: {
                shape: 'circle',
                'background-color': 'white',
                'background-image': "../static/img/favicon_package/favicon-32x32.png",
                width: 50,
                height: 50,
                'label': 'data(id)',
                'color': 'white'
            }
        },
        {
            selector: 'node[type="web"]',
            style: {
                'background-image': "../static/img/url.png",
            }
        },
        {
            selector: 'node[type="pdf"]',
            style: {
                'background-image': "../static/img/pdf.png",
            }
        },
        {
            selector: 'node[type="docx"]',
            style: {
                'background-image': "../static/img/doc.png",
            }
        }
        ],

        // interaction options:
        minZoom: 1e-2,
        maxZoom: 1e3,
        zoomingEnabled: true,
        userZoomingEnabled: true,
        panningEnabled: true,
        userPanningEnabled: true,
        boxSelectionEnabled: true,
        selectionType: 'single',
        touchTapThreshold: 8,
        desktopTapThreshold: 4,
        autolock: false,
        autoungrabify: false,
        autounselectify: false,

        // rendering options:
        headless: false,
        styleEnabled: true,
        hideEdgesOnViewport: false,
        textureOnViewport: false,
        motionBlur: false,
        motionBlurOpacity: 0.2,
        wheelSensitivity: 0.2,
        pixelRatio: 'auto',
      });
    </script>
</body>
</html>
