#background {
  position: absolute;
  background: #010014;
  height: 100vh;
  width: 100vw;
}

#settings-off {
  position: absolute;
  bottom: 0;
}

.icon {
  margin-top: 3rem;
}

.card.last-saved {
  height: 80%;  
  background-color: #0D1721;
  border-color: #fff;
  opacity: 80%;
}

.card.annota-chat {
  height: 20%;
  background-color: #003241;
  border-color: #fff;
  opacity: 80%;
}

.card.favourites-panel {
  height: 60%;
  background-color: #003548;
  border-color: #fff;
  opacity: 80%;
}

.card {
  border-radius: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.graphics {
  position: absolute;
  z-index: 0;
}

.wave.lighter-wave {
  bottom: 0;
  width: 100vw;
}

.wave.darker-wave {
  bottom: 0;
  width: 100vw;
}

.blobs {
  width: 100vw;
  bottom: 100px;
  padding-left: 2rem;
  padding-right: 2rem;
}

